<template>
    <v-container>
      <div class="about">
        <h1 class="header">Voice Cast</h1>
        <div class="col-3">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ratione consequuntur expedita veniam eius fugiat pariatur beatae delectus unde at recusandae, laudantium eos quia labore itaque ut rem blanditiis deleniti.</p>
        </div>
      </div>
    </v-container>
</template>


<script>
export default {
    data() {
        return {
            headers:[ 
                {
                    text: '',
                    align: 'start',
                    sortable: false,
                    value: '',
                },
                {text: '', value:'category'},
                {text: '', value:'value'},
            ],
            sidebar: [
                        {
                            category: "Directed By",
                            value: "Charles A. Nichols Iwao Takamoto"
                        },
                        {
                            category: "Produced By",
                            value: "Joseph Barbera, William Hanna"
                        },
                        {
                            category: "Story By",
                            value: "Earl Hamner Jr."
                        },
                        {
                            category: "Based On",
                            value: "Charlotte's Web by E. B. White"
                        },
                        {
                            category: "Staring",
                            value: "Debbie Reynolds, Paul Lynde, Henry Gibson"
                        },
                        {
                            category: "Music By",
                            value: "Richard M. Sherman, Robert B. Sherman"
                        },
                        {
                            category: "Edited By",
                            value: "Larry C. Cowan, Pat Foley"
                        },
                        {
                            category: "Production Companies",
                            value: "Hanna-Barbera Productions, Sagittarius Productions"
                        },
                        {
                            category: "Distributed By",
                            value: "Paramount Pictures"
                        },
                        {
                            category: "Release Date",
                            value: "February 22, 1973 (Radio City Music Hall); March 1, 1973 (United States)"
                        },
                        {
                            category: "Running Time",
                            value: "94 Minutes"
                        },
                        {
                            category: "Country",
                            value: "United States"
                        },
                        {
                            category: "Language",
                            value: "English"
                        },
                        {
                            category: "Box Office",
                            value: "$2.4 million (rentals)"
                        }
            ]
        }
    }
};
</script>
