<template>
    <div>
    <v-snackbar v-model="snackbar" :timeout="4000" top>
        <span>Cast member added</span>
        <v-btn text dark @click="snackbar=false">Close</v-btn>
    </v-snackbar>
    <v-divider ></v-divider>
        <h1 class="header mt-6">Voice Cast</h1>
        <div class="mb-4">
            <v-data-iterator
                :items="cast"
                :items-per-page="-1"
                :single-expand="singleExpand"
                :sort-by="sortBy.toLowerCase()"
                :sort-desc="sortDesc"
                :search="search"
                hide-default-footer
            >
            <template v-slot:header>
                <v-toolbar
                    dark
                    color="primary lighten-3"
                    class="mb-1"
                >
                    <v-text-field
                        v-model="search"
                        clearable
                        flat
                        solo-inverted
                        hide-details
                        prepend-inner-icon="mdi-magnify"
                        label="Search"
                    ></v-text-field>
                    <v-spacer></v-spacer>
                    <v-select
                        v-model="sortBy"
                        flat
                        solo-inverted
                        hide-details
                        :items="keys"
                        prepend-inner-icon="mdi-magnify"
                        label="Sort by"
                    ></v-select>
                    <v-spacer></v-spacer>
                    <v-btn-toggle
                        v-model="sortDesc"
                        mandatory
                    >
                        <v-btn
                        small
                        depressed
                        color="secondary lighten-3"
                        :value="false"
                        >
                            <v-icon>mdi-arrow-up</v-icon>
                        </v-btn>
                        <v-btn
                        small
                        depressed
                        color="secondary lighten-3"
                        :value="true"
                        >
                            <v-icon>mdi-arrow-down</v-icon>
                        </v-btn>
                    </v-btn-toggle>
                </v-toolbar>
            </template>
  
                <template v-slot:default="{ items, isExpanded, expand }">
                    <v-row>
                        <v-col
                            v-for="item in items"
                            :key="item.id"
                            cols="12"
                            sm="6"
                            md="4"
                            lg="3"
                        >
                            <v-card>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on, attrs }">
                                    <v-card-title
                                        v-bind="attrs"
                                        v-on="on"
                                    >
                                        <v-row>
                                        <v-avatar size="100px">
                                            <img
                                                class="pa-1"
                                                :src="item.imagePath"
                                            >
                                        </v-avatar>
                                        </v-row>
                                        <v-row>
                                        {{ item.actor }} 
                                        <br>
                                        as {{ item.role }}
                                        </v-row>
                                    </v-card-title>
                                    </template>
                                    <span>Click toggle to open/close</span>
                                    </v-tooltip>
                                        <v-switch
                                            :input-value="isExpanded(item)"
                                            :label="isExpanded(item) ? '' : ''"
                                            class="pl-4 mt-0"
                                            @change="(v) => expand(item, v)"
                                        ></v-switch>
                                            <v-divider></v-divider>
                                            <v-card v-if="isExpanded(item)" class="ma-3" flat>
                                                {{ item.notes }}
                                            </v-card>
                            </v-card>

                        </v-col>
                    </v-row>
                </template>
            </v-data-iterator>
            <v-divider></v-divider>
            <PopupForm @castAdded="snackbar = true"/>
            <h3 class="header">Notes</h3>
            <p>Five members of the cast (Henry Gibson, Paul Lynde, Agnes Moorehead, Danny Bonaduce, and Dave Madden) had previously appeared on the ABC television sitcom Bewitched (1964-1972). Hanna-Barbera also animated the opening credits of the show. However, Bonaduce and Madden are better known for their roles on another ABC-TV sitcom, The Partridge Family (1970–1974), which was still in production when the film was made. Ferdin and Lynde also both appeared on The Paul Lynde Show, another ABC sitcom created to fill the contract of Bewitched. Bonaduce, Lynde, Gerber, Messick, and Stephenson had previously worked for Hanna-Barbera in their television shows: Lynde appeared in The Perils of Penelope Pitstop (uncredited), Bonaduce and Gerber were stars in Partridge Family 2200 A.D., and Stephenson and Messick were Hanna-Barbera regulars who regularly lent their voices to many of their shows.</p>
        </div>
    </div>
</template>
    

<script>
import PopupForm from "@/components/PopupForm";
import db from '@/fb'

export default {
    components: {
        PopupForm
    },
    data() {
        return {
            snackbar: false,
            singleExpand: true,
            sortDesc: false,
            search: '',
            sortBy: 'Importance',
            keys: [
                'Importance',
                'Actor',
                'Role',
            ],
            cast: []
        }
    },
    mounted() {
            console.log('init',this.cast)
    },
    methods: {
        /* sortBy(prop) {
            this.cast.sort((a,b) => a[prop] < b[prop] ? -1 : 1)
        } */
    },
    created() {
        db.collection('data').onSnapshot(res => {
        const changes = res.docChanges();
        changes.forEach(change => {
            if (change.type === 'added') {
            this.cast.push({
                ...change.doc.data(),
                id: change.doc.id
            })
            }  
        })
        })
    }    
}

</script>


<style lang="scss" scoped>


</style>