<template>
	<div>
		<v-snackbar v-model="snackbar" :timeout="4000" top>
			<span>Cast member added</span>
			<v-btn text dark @click="snackbar = false">Close</v-btn>
		</v-snackbar>
		<v-divider id="cast"></v-divider>
		<h1 class="header mt-6">Voice Cast</h1>
		<div class="mb-4">
			<v-data-iterator
				:items="cast"
				:items-per-page="-1"
				:single-expand="singleExpand"
				:sort-by="sortBy.toLowerCase()"
				:sort-desc="sortDesc"
				:search="search"
				hide-default-footer
			>
				<template v-slot:header>
					<v-toolbar dark color="primary lighten-3" class="mb-1">
						<v-text-field
							v-model="search"
							clearable
							flat
							solo-inverted
							hide-details
							prepend-inner-icon="mdi-magnify"
							label="Search"
						></v-text-field>
						<v-spacer></v-spacer>
						<v-select
							v-model="sortBy"
							flat
							solo-inverted
							hide-details
							:items="keys"
							prepend-inner-icon="mdi-magnify"
							label="Sort by"
						></v-select>
						<v-spacer></v-spacer>
						<v-btn-toggle v-model="sortDesc" mandatory>
							<v-btn small depressed color="secondary lighten-3" :value="false">
								<v-icon>mdi-arrow-up</v-icon>
							</v-btn>
							<v-btn small depressed color="secondary lighten-3" :value="true">
								<v-icon>mdi-arrow-down</v-icon>
							</v-btn>
						</v-btn-toggle>
					</v-toolbar>
				</template>

				<template v-slot:default="{ items, isExpanded, expand }">
					<v-row>
						<v-col
							v-for="item in items"
							:key="item.id"
							cols="12"
							sm="6"
							md="4"
							lg="3"
						>
							<v-card>
								<v-tooltip bottom>
									<template v-slot:activator="{ on, attrs }">
										<v-card-title v-bind="attrs" v-on="on">
											<v-row>
												<v-avatar size="100px">
													<img class="pa-1" :src="item.imagePath" />
												</v-avatar>
											</v-row>
											<v-row>
												{{ item.actor }}
												<br />
												as {{ item.role }}
											</v-row>
										</v-card-title>
									</template>
									<span>Click toggle to open/close</span>
								</v-tooltip>
								<v-switch
									:input-value="isExpanded(item)"
									:label="isExpanded(item) ? '' : ''"
									class="pl-4 mt-0"
									@change="(v) => expand(item, v)"
								></v-switch>
								<v-divider></v-divider>
								<v-card v-if="isExpanded(item)" class="ma-3" flat>
									{{ item.notes }}
								</v-card>
							</v-card>
						</v-col>
					</v-row>
				</template>
			</v-data-iterator>
			<v-divider></v-divider>
			<PopupForm @castAdded="snackbar = true" />
			<h3 class="header">Notes</h3>
			<p>
				Five members of the cast (Henry Gibson, Paul Lynde, Agnes Moorehead,
				Danny Bonaduce, and Dave Madden) had previously appeared on the ABC
				television sitcom Bewitched (1964-1972). Hanna-Barbera also animated the
				opening credits of the show. However, Bonaduce and Madden are better
				known for their roles on another ABC-TV sitcom, The Partridge Family
				(1970–1974), which was still in production when the film was made.
				Ferdin and Lynde also both appeared on The Paul Lynde Show, another ABC
				sitcom created to fill the contract of Bewitched. Bonaduce, Lynde,
				Gerber, Messick, and Stephenson had previously worked for Hanna-Barbera
				in their television shows: Lynde appeared in The Perils of Penelope
				Pitstop (uncredited), Bonaduce and Gerber were stars in Partridge Family
				2200 A.D., and Stephenson and Messick were Hanna-Barbera regulars who
				regularly lent their voices to many of their shows.
			</p>
		</div>
	</div>
</template>

<script>
import PopupForm from "@/components/PopupForm";
import db from "@/fb";

export default {
	components: {
		PopupForm,
	},
	data() {
		return {
			snackbar: false,
			singleExpand: true,
			sortDesc: false,
			search: "",
			sortBy: "Importance",
			keys: ["Importance", "Actor", "Role"],
			cast: [
				{
					id: 1,
					actor: "Henry Gibson",
					role: "Wilbur",
					notes:
						"a pig who was almost killed due to being a runt. Over time, however, he grows so much that one would never have known he was once a runt. When he learns of his fate of being slaughtered, Wilbur instantly breaks down into tears, until Charlotte tells him that she will do whatever it takes to save him. Wilbur is a friendly pig, but also prone to anxiety.",
					imagePath:
						"https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Henry_Gibson_1969_%28cropped_version%29.JPG/220px-Henry_Gibson_1969_%28cropped_version%29.JPG",
				},
				{
					id: 2,
					actor: "Debbie Reynolds",
					role: "Charlotte A. Cavitica",
					notes:
						"a spider who lives on a web in a corner of Homer's barn above Wilbur's pig pen. She is very loving and motherly, but sometimes grows frustrated at Wilbur's anxiety issues. At the end of the film, she dies after laying 514 eggs, but three of them decide to stay with Wilbur.",
					imagePath:
						"https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Debbie_Reynolds_by_Beerman_Parry%2C_1954.jpg/220px-Debbie_Reynolds_by_Beerman_Parry%2C_1954.jpg",
				},
				{
					id: 3,
					actor: "Paul Lynde",
					role: "Templeton",
					notes:
						"a care-free, gluttonous and egotistical rat who lives at Homer's farm. He helps Charlotte get new ideas for her webs on the condition that he is promised food. At the end of the film, as well as the sequel, he has four bratty children of his own: Henrietta, Lester, Ralphie, and Junior.",
					imagePath:
						"https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/The_Paul_Lynde_Show_Paul_Lynde_1972_No_2.jpg/220px-The_Paul_Lynde_Show_Paul_Lynde_1972_No_2.jpg",
				},
				{
					id: 4,
					actor: "Agnes Moorehead",
					role: "the Goose",
					notes:
						"an unnamed goose who is the one that encourages Wilbur to speak for the first time. Her seven goslings later hatch, although there were actually eight eggs (one was rotten). In the sequel, she was named Gwen.",
					imagePath:
						"https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Studio_publicity_Agnes_Moorehead.jpg/220px-Studio_publicity_Agnes_Moorehead.jpg",
				},
				{
					id: 5,
					actor: "Don Messick",
					role: "Jeffrey",
					notes:
						"a young, undersized gosling whom Wilbur befriends shortly after his birth. He initially lives, eats, and sleeps with Wilbur rather than his mother and siblings. At one point, Avery remarks that he sounds more like a pig than a gosling, which pleases Jeffrey. When Wilbur is loaded into a crate destined for the fair, Jeffrey casually walks in to join him, amusing the humans but they still remove and restrain him nevertheless. International VHS releases show a deleted scene in which Jeffrey is briefly seen riding with Avery in the back of the Arables' truck, until it stops so Avery can set him down in the middle of the road. Distressed at being separated from Wilbur, Jeffrey tries to catch up with the truck to no avail, leaving him heartbroken. His mother gently directs him to the pond to join his siblings. Despite his previous insistence that they be friends forever, Jeffrey does not reunite with Wilbur when the latter returns from the fair nor does he appear in the rest of the film.",
					imagePath:
						"https://upload.wikimedia.org/wikipedia/en/thumb/f/f8/Don_Messick.jpg/220px-Don_Messick.jpg",
				},
				{
					id: 6,
					actor: "Herb Vigran",
					role: "Lurvy",
					notes:
						"Homer's farmhand who is the first to notice the messages in Charlotte's webs.",
					imagePath:
						"https://upload.wikimedia.org/wikipedia/en/a/ae/Herb_Vigran.jpg",
				},
				{
					id: 7,
					actor: "Pamelyn Ferdin",
					role: "Fern Arable",
					notes: "John's daughter who convinces him to spare Wilbur's life.",
					imagePath:
						"https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Pamelyn_Ferdin_1972b.jpg/220px-Pamelyn_Ferdin_1972b.jpg",
				},
				{
					id: 8,
					actor: "Martha Scott",
					role: "Mrs. Arable",
					notes:
						"Fern's mother who first tells her of what was going to happen to Wilbur.",
					imagePath:
						"https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Martha_Scott_1942.JPG/220px-Martha_Scott_1942.JPG",
				},
				{
					id: 9,
					actor: "Bob Holt",
					role: "Homer Zuckerman",
					notes: "Mrs. Arable's brother and Fern's uncle.",
					imagePath:
						"https://upload.wikimedia.org/wikipedia/en/b/bd/Bob_holt.jpg",
				},
				{
					id: 10,
					actor: "John Stephenson",
					role: "John Arable",
					notes:
						"Fern's father. He was about to 'do away' with Wilbur until she intervened.",
					imagePath:
						"https://upload.wikimedia.org/wikipedia/en/5/5a/John_Stephenson2.jpg",
				},
				{
					id: 11,
					actor: "Danny Bonaduce",
					role: "Avery Arable",
					notes: "Fern's older brother.",
					imagePath:
						"https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Danny_Bonaduce_2017.jpg/220px-Danny_Bonaduce_2017.jpg",
				},
				{
					id: 12,
					actor: "William B. White",
					role: "Henry Fussy",
					notes:
						"a boy of about Fern's age, whom she soon starts spending time with while Wilbur is at the fair.",
					imagePath:
						"https://vignette.wikia.nocookie.net/charlottesweb/images/d/d8/Henryfussy.jpeg/revision/latest?cb=20151021161648",
				},
				{
					id: 13,
					actor: "Dave Madden",
					role: "the Ram",
					notes:
						"one of the first animals Wilbur meets at Homer's farm. He is the first to tell Wilbur that it is a pig's fate to be slaughtered and turned into smoked bacon and ham. Madden also voiced other characters in the film.",
					imagePath:
						"https://upload.wikimedia.org/wikipedia/commons/f/f4/Dave_Madden_1970s.jpg",
				},
				{
					id: 14,
					actor: "Joan Gerber",
					role: "Edith Zuckerman",
					notes:
						"Homer's wife. She comes up with the idea of giving Wilbur a buttermilk bath. Gerber also voiced Mrs. Fussy, Henry's stern mother who never lets him have fun.",
					imagePath:
						"https://vignette.wikia.nocookie.net/remixfavoriteshowandgame/images/a/a7/Edith_Zuckerman.jpg/revision/latest/scale-to-width-down/1000?cb=20160628133210",
				},
				{
					id: 15,
					actor: "Rex Allen",
					role: "the Narrator",
					notes: "",
					imagePath:
						"https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Rex_Allen_and_Koko_1952.jpg/220px-Rex_Allen_and_Koko_1952.jpg",
				},
			],
			cast2: [],
		};
	},
	methods: {},
	mounted() {
		console.log("init", this.cast);
	},
	created() {
		db.collection("data").onSnapshot((res) => {
			const changes = res.docChanges();
			changes.forEach((change) => {
				if (change.type === "added") {
					this.cast2.push({
						...change.doc.data(),
						id: change.doc.id,
					});
				}
			});
		});
	},
};
</script>

<style lang="scss" scoped></style>
