<template>
    <highcharts :options="chartOptions" :class="chartClass" />
</template>

<script>
import {Chart} from 'highcharts-vue'

export default {
    components: {
        highcharts: Chart,
    },

    data() {
        return {
            chartClass: 'unflippedChart',
            chartOptions: {
                chart: {
                    type: 'areaspline',
                    zoomType: 'x',
                    panning: true,
                    panKey: 'shift'
                },
                title: {
                    text: '',
                    align: 'left',
                    x: 100,
                    y: 30,
                    floating: true,
                    enabled: false
                },
                credits: {
                    enabled: false,
                },
                xAxis: {
                    categories: [
                        '1973','1974','1975','1976','1977','1978','1979','1980','1981','1982','1983','1984','1985','1986','1987','1988','1989','1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019',],
                /*     accessibility: {
                        rangeDescription: 'Range: 1973 to 2019'
                    } */
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Revenue per Year'
                    },
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>${point.y}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: false,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    },
                    areaspline: {
                        fillOpacity: 0.5
                    },
                    series: {
                        events: {
                            click: (e) => {
                                //console.log(e)
                                if(e.point.category === '1994' && this.chartClass === 'unflippedChart') {
                                    this.chartClass = 'flippedChart'
                                    console.log('1994, yo!')
                                } else {
                                    this.chartClass = 'unflippedChart'
                                }
                            },
                        },
                    },
                    label: {
                        connectorAllowed: false
                    },   
                        pointStart: 1973

                },
                series: [{
                    name: 'Combination of rental and box office',
                    color: '#3a676a',
                    // dataGrouping: { 
                    //     enabled: true,
                    //     approximation: 'average', //'sum' or 'ohlc' or 'average' or 'range'
                    //     groupPixelWidth: 150, //controls view depending on size of window. Smaller window means higher grouping unit
                    //     forced: false,
                    //     units: [
                    //         ['day', [3,7,14]],
                    //         ['week', [6]],
                    //         ['month', [1,3,6]],
                    //         ['year', [1,2,3]],
                    //     ],
                    // },
                    data: [20000,50000,48000,5000,7000,2500,1800,2550,4000,22000,17000,12000,5000,82000,75000,67000,81000,42000,75000,90000,123000,188000,160000,75000,67000,81000,42000,75000,90000,45000,98000,80000,75000,67000,61000,42000,62000,80000,23000,98000,25000,18000,23000,12000,25000,18000,8150,] 
                }],

            }
        }
    },
    
    methods: {
        runTest() {
            console.log("this is a test")
        }
    },
};
</script>

<style lang="scss" scoped>
.flippedChart {
    transition: transform .5s ease-in-out;
    transform: rotate(900deg);
}

.unflippedChart {
    transition: transform .5s ease-in-out;
    transform: rotate(0deg);
}

</style>