<template>
    <div>
        <v-dialog max-width="600px" v-model="dialog">
            <template v-slot:activator="{ on }">
                <v-btn
                    v-on="on"
                    class="ma-5"
                >Add Files
                </v-btn>
            </template>
            <v-card class="py-8">
                <v-card-title>
                <h2 class="text-center mb-5">Add a Cast Member</h2>
                </v-card-title>
                <v-card-text>
                    <v-form ref="form">
                        <v-file-input
                            v-model="files"
                            multiple
                        />
                        
                        <v-text-field 
                        label="Field 1" 
                        v-model="actor" 
                        ></v-text-field>
                        <v-text-field 
                        label="Field 2" 
                        v-model="role"
                        ></v-text-field>
                        <v-btn 
                            class="secondary" 
                            @click="addFiles"
                        >Close Form
                        </v-btn>
                    </v-form>
                </v-card-text>
            </v-card>
        </v-dialog>
        <v-data-iterator

        >

        </v-data-iterator>

    </div>
</template>

<script>
export default {
    components: {
        //Sidebar
    }, 

    data() {
        return {
            menu: false,
            files: {},
            actor: ``,
            role: ``,
            dialog: false,

        }
        
    },

    methods: {
        addFiles() {
            console.log('banana',this.files)
        }
    }
}


</script>