<template>
	<div>
		<highcharts
			:constructorType="'ganttChart'"
			class="hc"
			:options="chartOptions"
			ref="chart"
		></highcharts>
	</div>
</template>

<script>
import { Chart } from "highcharts-vue";
// const d3 = require("d3");

export default {
	components: {
		highcharts: Chart,
	},

	data() {
		return;
	},
	methods: {
		chartOptions() {
			return {
				chartOptions: {
					title: {
						text: "Gantt Chart with Progress Indicators",
					},
					xAxis: {
						min: Date.UTC(2021, 10, 17),
						max: Date.UTC(2021, 10, 30),
					},

					series: [
						{
							name: "Project 1",
							data: [
								{
									name: "Start",
									start: Date.UTC(2021, 10, 18),
									end: Date.UTC(2021, 10, 25),
									completed: 0.25,
								},
								{
									name: "Test",
									start: Date.UTC(2021, 10, 27),
									end: Date.UTC(2021, 10, 29),
								},
								{
									name: "Develop",
									start: Date.UTC(2021, 10, 20),
									end: Date.UTC(2021, 10, 25),
									completed: {
										amount: 0.12,
										fill: "#fa0",
									},
								},
								{
									name: "Test Again",
									start: Date.UTC(2021, 10, 23),
									end: Date.UTC(2021, 10, 26),
								},
							],
						},
					],
				},
			};
		},
	},
};
</script>
