<template>
    <div>
      <v-row>
        <h1 class="header mt-6">Legacy</h1>
        <p>The film has developed a devoted following over the following years due to television and VHS; in 1994 it surprised the marketplace by becoming one of the best-selling titles of the year, 21 years after its first premiere. No other non-Disney musical animated film has enjoyed such a comeback in popularity, prompting a direct-to-video sequel, Charlotte's Web 2: Wilbur's Great Adventure, which Paramount released in the US on March 18, 2003 (Universal released it internationally and, through Universal Cartoon Studios, also animated it), followed by a live-action film version (co-produced by Nickelodeon Movies) of the original story, which was released on December 15, 2006.</p>
      </v-row>
      <v-row >
        <h3 id="legacy" class="header mt-6">Earnings</h3>
        <br>
        </v-row>
        <v-row>
          <v-container>
        <Chart/>
          </v-container>
        </v-row>
        <v-divider></v-divider>
    </div>
</template>
    

<script>
import Chart from "@/components/Chart"

export default {
  name: "Legacy",
  components: {
    Chart
  },
  data() {
    return {
    
    }
        
  },
}

</script>


<style lang="scss" scoped>


</style>