<template>
	<nav>
		<v-app-bar color="secondary" clipped app class="fixed-navBar">
			<v-app-bar-nav-icon
				@click.stop="drawer = !drawer"
				class="white--text"
			></v-app-bar-nav-icon>
			<v-toolbar-title class="text-uppercase secondary--text">
				<span class="font-weight-light">Some </span>
				<span>Pig</span>
			</v-toolbar-title>
			<v-spacer></v-spacer>
			<v-btn v-if="main" text dark to="/">
				<span>Home</span>
				<v-icon right>mdi-home</v-icon>
			</v-btn>
		</v-app-bar>

		<v-navigation-drawer
			:width="'15vw'"
			v-model="drawer"
			app
			class="primary"
			temporary
			overlay-opacity=".4"
		>
			<v-row>
				<v-col cols-2>
					<v-list shaped dark nav>
						<v-subheader class="white--text">Contents</v-subheader>
						<br />
						<v-list-item-group v-model="section">
							<v-list-item
								v-for="(section, i) in sections"
								:key="i"
								:to="section.route"
								:v-scroll-to="section.route"
							>
								<v-list-item-icon>
									<v-icon v-text="section.icon"></v-icon>
								</v-list-item-icon>
								<v-list-item-content>
									<v-list-item-title v-text="section.text"></v-list-item-title>
								</v-list-item-content>
							</v-list-item>
						</v-list-item-group>
					</v-list>
				</v-col>
				<!-- <v-col cols-10>
                    <v-card>
                        <h1 class="primary--text">Charlotte's Web</h1>
                        <p class="subtitle-2 primary--text">(The 1973 animated version, obviously)</p>
                        <v-img 
                            src="@/assets/cWeb2.jpg" 
                            contain
                            height="60vh"
                        />
                        <div class="text-center ma-5">
                            <v-menu offset-y>
                                <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                    color="primary"
                                    dark
                                    v-bind="attrs"
                                    v-on="on"
                                >
                                    Learn More
                                </v-btn>
                                </template>
                                <v-list>
                                <v-list-item
                                    v-for="(section, i) in sections"
                                    :key="i"
                                    :to="section.route"
                                >
                                    <v-list-item-title>{{ section.text }}</v-list-item-title>
                                </v-list-item>
                                </v-list>
                            </v-menu>
                        </div>
                    </v-card>
                </v-col> -->
			</v-row>
		</v-navigation-drawer>
	</nav>
</template>

<script>
export default {
	components: {},
	data() {
		return {
			drawer: false,
			section: null,
			sections: [
				{
					icon: "mdi-home",
					text: "Home",
					route: "/",
				},
				{
					icon: "mdi-book-open-variant",
					text: "Plot",
					route: "/plot#plot",
				},
				{
					icon: "mdi-account-voice",
					text: "Voice Cast",
					route: "/plot#cast",
				},
				{
					icon: "mdi-movie-open",
					text: "Production",
					route: "/plot#production",
				},
				{
					icon: "mdi-calendar-range",
					text: "Release",
					route: "/plot#release",
				},
				{
					icon: "mdi-account-group",
					text: "Reception",
					route: "/plot#reception",
				},
				{
					icon: "mdi-creation",
					text: "Legacy",
					route: "/plot#legacy",
				},
				{
					icon: "mdi-numeric-2-box-multiple",
					text: "Sequel",
					route: "/plot#sequel",
				},
				{
					icon: "mdi-music-circle",
					text: "Soundtrack",
					route: "/plot#soundtrack",
				},
				{
					icon: "mdi-link",
					text: "Other Links",
					route: "/plot#otherLinks",
				},
			],
		};
	},

	computed: {
		main() {
			return this.$route.path !== "/";
		},
	},
};
</script>

<style lang="scss" scoped>
.fixed-navBar {
	top: 0;
	position: fixed;
	width: 100%;
}
</style>
