<template>
    <div>
        <h1 class="header mt-6">Other Links</h1>
        <ul>
          <li><a href="https://en.wikipedia.org/wiki/List_of_American_films_of_1973">List of American films of 1973</a></li>
          <li><a href="https://en.wikipedia.org/wiki/List_of_works_produced_by_Hanna-Barbera_Productions">List of works produced by Hanna-Barbera Productions</a></li>
        </ul>
        <div class="py-15"></div>
    </div>
</template>
    

<script>
export default {
  data() {
    return {
    
    }
        
  },
}

</script>


<style lang="scss" scoped>


</style>