<template>
    <div>
        <h1 class="header mt-6">Release</h1>
        <p>Charlotte's Web was originally slated to be released during the summer of 1972, but by September 1972, its release was pushed back to early 1973. The film premiered at the Radio City Music Hall on February 22, 1973, which was followed with its general release on March 1, 1973 by Paramount Pictures in the United States. It was also released in West Germany on March 30, 1973, as well as August 11 in Sweden, August 25 in Japan, and September 4, 1981, in Australia. The film was first released on VHS in 1979, followed by three more re-releases in 1988, 1993, and 1996. It made its DVD debut on June 19, 2001. A second DVD release of the film was released in 2006.</p>
        <v-divider></v-divider>
    </div>
</template>
    

<script>
export default {
  data() {
    return {
    
    }
        
  },
}

</script>


<style lang="scss" scoped>


</style>