<template>
    <v-data-table
        dense
        hide-default-header
        hide-default-footer
        :headers="headers"
        :items="sidebar"
        item-key="name"
        class="elevation-0"
    ></v-data-table>
</template>
    

<script>
export default {
    data() {
        return {
            drawer: false,
            section: null,
            headers:[ 
                {
                    text: '',
                    align: 'start',
                    sortable: false,
                    value: '',
                },
                {text: '', value:'category'},
                {text: '', value:'value'},
            ],
            sidebar: [
                        {
                            category: "Directed By",
                            value: "Charles A. Nichols Iwao Takamoto"
                        },
                        {
                            category: "Produced By",
                            value: "Joseph Barbera, William Hanna"
                        },
                        {
                            category: "Story By",
                            value: "Earl Hamner Jr."
                        },
                        {
                            category: "Based On",
                            value: "Charlotte's Web by E. B. White"
                        },
                        {
                            category: "Staring",
                            value: "Debbie Reynolds, Paul Lynde, Henry Gibson"
                        },
                        {
                            category: "Music By",
                            value: "Richard M. Sherman, Robert B. Sherman"
                        },
                        {
                            category: "Edited By",
                            value: "Larry C. Cowan, Pat Foley"
                        },
                        {
                            category: "Production Companies",
                            value: "Hanna-Barbera Productions, Sagittarius Productions"
                        },
                        {
                            category: "Distributed By",
                            value: "Paramount Pictures"
                        },
                        {
                            category: "Release Date",
                            value: "February 22, 1973 (Radio City Music Hall); March 1, 1973 (United States)"
                        },
                        {
                            category: "Running Time",
                            value: "94 Minutes"
                        },
                        {
                            category: "Country",
                            value: "United States"
                        },
                        {
                            category: "Language",
                            value: "English"
                        },
                        {
                            category: "Box Office",
                            value: "$2.4 million (rentals)"
                        }
            ]
        }
    }
};
</script>

<style lang="scss" scoped>


</style>